In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\HP\OneDrive\Desktop\Health Data Breaches.xlsx')
df

,Name of Covered Entity,State,Covered Entity Type,Individuals Affected,Breach Submission Date,2009,2010,2011,2012,2013,2014,2015,2016,Type of Breach,Location of Breached Information,Business Associate Present,Web Description
0,Advantage Consolidated LLC,OR,Healthcare Provider,151626,2015-03-18,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,Hacking/IT Incident,Other,No,NaN
1,"Doctors First Choice Billings, Inc.",FL,Business Associate,1831,2014-06-12,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Hacking/IT Incident,Other,Yes,\N
2,"Goshen Health System, Inc.",IN,Healthcare Provider,660,2012-02-14,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,Hacking/IT Incident,Other,No,Computer servers of Goshen Health System's bus...
3,Group Life Hospital and Medical Program,CT,Health Plan,3000,2016-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Hacking/IT Incident,Other,No,NaN
4,"Health Incent, LLC",TN,Healthcare Provider,1100,2016-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Hacking/IT Incident,Other,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,M&C Children's Clinic PA,TX,NaN,NaN,2013-03-19,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,No,"On March 19, 2013, the covered entity (CE), M ..."
1696,Memorial Health Systems,CO,NaN,NaN,2011-07-15,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
1697,Northwestern Memorial HealthCare,IL,NaN,NaN,2014-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
1698,St. Joseph Health System,CA,NaN,NaN,2012-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
1699,"StandfordSchoolMedicine& LP Children Hosp, Pri...",CA,NaN,NaN,2013-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN

In [2]:
pd.options.display.max_rows = 999

In [3]:
df[2009] = df[2009].replace([1],2009)
df[2010] = df[2010].replace([1],2010)
df[2011] = df[2011].replace([1],2011)
df[2012] = df[2012].replace([1],2012)
df[2013] = df[2013].replace([1],2013)
df[2014] = df[2014].replace([1],2014)
df[2015] = df[2015].replace([1],2015)
df[2016] = df[2016].replace([1],2016)

In [4]:
df['Year']=df[2009].fillna(0) + df[2010].fillna(0) + df[2011].fillna(0) + df[2012].fillna(0) + df[2013].fillna(0) + df[2014].fillna(0) + df[2015].fillna(0) + df[2016].fillna(0)

In [5]:
df1=df.drop(columns=[2009,2010,2011,2012,2013,2014,2015,2016])

In [6]:
df1=df.drop(columns=['Web Description'])
df1=df.drop(columns=['Name of Covered Entity'])
#df1=df.drop(columns=['Individuals Affected'])
df1=df.drop(columns=['State'])

In [7]:
df1=df[['Covered Entity Type','Individuals Affected','Breach Submission Date','Year','Type of Breach','Location of Breached Information','Business Associate Present']]

In [8]:
df1[df1.duplicated(keep = False)]

,Covered Entity Type,Individuals Affected,Breach Submission Date,Year,Type of Breach,Location of Breached Information,Business Associate Present
40,Health Plan,1550,2016-02-26,2016.0,Hacking/IT Incident,Network Server,No
41,Health Plan,1550,2016-02-26,2016.0,Hacking/IT Incident,Network Server,No
585,Healthcare Provider,648,2016-04-20,2016.0,Theft,Paper/Films,No
586,Healthcare Provider,648,2016-04-20,2016.0,Theft,Paper/Films,No
659,Business Associate,1474,2010-09-23,2010.0,Theft,"Other, Other Portable Electronic Device",Yes
674,Business Associate,1474,2010-09-23,2010.0,Theft,"Other, Other Portable Electronic Device",Yes

In [9]:
df1=df1.drop_duplicates()
df1

,Covered Entity Type,Individuals Affected,Breach Submission Date,Year,Type of Breach,Location of Breached Information,Business Associate Present
0,Healthcare Provider,151626,2015-03-18,2015.0,Hacking/IT Incident,Other,No
1,Business Associate,1831,2014-06-12,2014.0,Hacking/IT Incident,Other,Yes
2,Healthcare Provider,660,2012-02-14,2012.0,Hacking/IT Incident,Other,No
3,Health Plan,3000,2016-02-29,2016.0,Hacking/IT Incident,Other,No
4,Healthcare Provider,1100,2016-07-11,2016.0,Hacking/IT Incident,Other,No
...,...,...,...,...,...,...,...
1695,NaN,NaN,2013-03-19,2013.0,NaN,NaN,No
1696,NaN,NaN,2011-07-15,2011.0,NaN,NaN,No
1697,NaN,NaN,2014-12-23,0.0,NaN,NaN,No
1698,NaN,NaN,2012-02-15,0.0,NaN,NaN,No
1699,NaN,NaN,2013-01-23,0.0,NaN,NaN,No

In [10]:
df1[df1.duplicated(keep = False)]

Empty DataFrame
Columns: [Covered Entity Type, Individuals Affected, Breach Submission Date, Year, Type of Breach, Location of Breached Information, Business Associate Present]
Index: []

In [219]:
df2=df1[['Covered Entity Type','Year','Type of Breach','Location of Breached Information','Business Associate Present']]
df2

,Covered Entity Type,Year,Type of Breach,Location of Breached Information,Business Associate Present
0,Healthcare Provider,2015.0,Hacking/IT Incident,Other,No
1,Business Associate,2014.0,Hacking/IT Incident,Other,Yes
2,Healthcare Provider,2012.0,Hacking/IT Incident,Other,No
3,Health Plan,2016.0,Hacking/IT Incident,Other,No
4,Healthcare Provider,2016.0,Hacking/IT Incident,Other,No
...,...,...,...,...,...
1695,0,2013.0,0,0,No
1696,0,2011.0,0,0,No
1697,0,0.0,0,0,No
1698,0,0.0,0,0,No
1699,0,0.0,0,0,No

In [220]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1697 entries, 0 to 1699
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Covered Entity Type               1697 non-null   object
 1   Year                              1697 non-null   float64
 2   Type of Breach                    1697 non-null   object
 3   Location of Breached Information  1697 non-null   object
 4   Business Associate Present        1697 non-null   object
dtypes: float64(1), object(4)
memory usage: 159.5+ KB

In [221]:
df2['Year'] = df2['Year'].astype(int)

<ipython-input-221-348191e88100>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Year'] = df2['Year'].astype(int)

In [14]:
import numpy as np
df1['Individuals Affected'] = pd.to_numeric(df1['Individuals Affected'],errors='coerce')
df1 = df1.replace(np.nan, 0, regex=True)
df1['Individuals Affected'] = df1['Individuals Affected'].astype(int)

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1697 entries, 0 to 1699
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Covered Entity Type               1697 non-null   object
 1   Individuals Affected              1697 non-null   int32
 2   Breach Submission Date            1697 non-null   datetime64[ns]
 3   Year                              1697 non-null   float64
 4   Type of Breach                    1697 non-null   object
 5   Location of Breached Information  1697 non-null   object
 6   Business Associate Present        1697 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(4)
memory usage: 99.4+ KB

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1697 entries, 0 to 1699
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Covered Entity Type               1655 non-null   object
 1   Year                              1697 non-null   int32
 2   Type of Breach                    1683 non-null   object
 3   Location of Breached Information  1686 non-null   object
 4   Business Associate Present        1697 non-null   object
dtypes: int32(1), object(4)
memory usage: 72.9+ KB

In [19]:
df['Business Associate Present'].value_counts()

No     1393
Yes     307
Name: Business Associate Present, dtype: int64

In [118]:
df2['Covered Entity Type'].value_counts()

Healthcare Provider          1172
Business Associate            273
Health Plan                   206
Healthcare Clearing House       4
Name: Covered Entity Type, dtype: int64

In [136]:
df2.head(3)

,Covered Entity Type,Year,Type of Breach,Location of Breached Information,Business Associate Present
0,Healthcare Provider,2015,Hacking/IT Incident,Other,No
1,Business Associate,2014,Hacking/IT Incident,Other,Yes
2,Healthcare Provider,2012,Hacking/IT Incident,Other,No

In [138]:
df2['Covered Entity Type'].value_counts()

Healthcare Provider          1172
Business Associate            273
Health Plan                   206
Healthcare Clearing House       4
Name: Covered Entity Type, dtype: int64

In [139]:
df2['Year'].value_counts()

2014    293
2013    273
2015    269
2016    239
2012    207
2010    197
2011    196
2009     18
0         5
Name: Year, dtype: int64

In [146]:
df2['Type of Breach'].value_counts()

Theft                                                         722
Unauthorized Access/Disclosure                                399
Hacking/IT Incident                                           221
Loss                                                          120
Other                                                          77
Improper Disposal                                              51
Theft, Unauthorized Access/Disclosure                          24
Loss, Theft                                                    15
Unknown                                                         9
Hacking/IT Incident, Unauthorized Access/Disclosure             8
Other, Unauthorized Access/Disclosure                           7
Loss, Unauthorized Access/Disclosure                            3
Improper Disposal, Loss                                         3
Other, Theft                                                    3
Improper Disposal, Loss, Theft                                  3
Hacking/IT Incident, Other                                      2
Other, Unknown                                                  2
Hacking/IT Incident, Theft, Unauthorized Access/Disclosure      2
Other, Theft, Unauthorized Access/Disclosure                    2
Loss, Other                                                     2
Loss, Unauthorized Access/Disclosure, Unknown                   1
Improper Disposal, Theft, Unauthorized Access/Disclosure        1
Loss, Other, Theft                                              1
Improper Disposal, Theft                                        1
Hacking/IT Incident, Theft                                      1
Hacking/IT Incident, Other, Unauthorized Access/Disclosure      1
Loss, Unknown                                                   1
Improper Disposal, Unauthorized Access/Disclosure               1
Name: Type of Breach, dtype: int64

In [ ]:
print(df1.isnull().sum().sort_values(ascending=False))
print(df1.shape)

In [ ]:
df['Web Description']=df['Web Description'].fillna('\\N')
df['Covered Entity Type']=df['Covered Entity Type'].fillna('Uncategorized')
df['Type of Breach']=df['Type of Breach'].fillna('Theft')
df['Location of Breached Information']=df['Location of Breached Information'].fillna('Unknown')

In [24]:
X=df2.drop(['Business Associate Present'],axis=1)
X

,Covered Entity Type,Year,Type of Breach,Location of Breached Information
0,Healthcare Provider,2015,Hacking/IT Incident,Other
1,Business Associate,2014,Hacking/IT Incident,Other
2,Healthcare Provider,2012,Hacking/IT Incident,Other
3,Health Plan,2016,Hacking/IT Incident,Other
4,Healthcare Provider,2016,Hacking/IT Incident,Other
...,...,...,...,...
1695,NaN,2013,NaN,NaN
1696,NaN,2011,NaN,NaN
1697,NaN,0,NaN,NaN
1698,NaN,0,NaN,NaN
1699,NaN,0,NaN,NaN

In [68]:
y=df2['Business Associate Present']

In [69]:
X.shape

(1697, 4)

In [70]:
y.shape

(1697,)

In [71]:
X = X.astype(str)
y = y.astype(str)

In [72]:
y = y.values.reshape(-1,1)

In [73]:
y.shape

(1697, 1)

In [87]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state = 0)

In [88]:
X_train.shape

(1018, 4)

In [89]:
X_test.shape

(679, 4)

In [229]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [180]:
 pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\hp\anaconda3\envs\new-p\lib\site-packages (0.23.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\hp\anaconda3\envs\new-p\lib\site-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\hp\anaconda3\envs\new-p\lib\site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\hp\anaconda3\envs\new-p\lib\site-packages (from scikit-learn) (0.16.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\envs\new-p\lib\site-packages (from scikit-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [225]:
df2['Covered Entity Type']=df['Covered Entity Type'].fillna('Uncategorized')
df2['Type of Breach']=df2['Type of Breach'].fillna(df2['Type of Breach'].mode(),inplace=True)
#df2['Location of Breached Information']=df['Location of Breached Information'].fillna(df['Location of Breached Information'].mode())

<ipython-input-225-051e0f9dd964>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Covered Entity Type']=df['Covered Entity Type'].fillna('Uncategorized')
C:\Users\HP\anaconda3\envs\new-p\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-225-051e0f9dd964>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Type of Breach']=df2['Type of Breach'].fillna(df2['Type of Breach'].mode(),inplace=True)

In [226]:
df2.isnull().sum()

Covered Entity Type                    0
Year                                   0
Type of Breach                      1697
Location of Breached Information       0
Business Associate Present             0
dtype: int64

In [227]:
df2['Type of Breach']

0       None
1       None
2       None
3       None
4       None
        ...
1695    None
1696    None
1697    None
1698    None
1699    None
Name: Type of Breach, Length: 1697, dtype: object

In [192]:
from sklearn.preprocessing import SimpleImputer

ImportError: cannot import name 'SimpleImputer' from 'sklearn.preprocessing' (C:\Users\HP\anaconda3\envs\new-p\lib\site-packages\sklearn\preprocessing\__init__.py)

In [150]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [213]:
dfle = df2
dfle['Covered Entity Type'] = le.fit_transform(dfle['Covered Entity Type'])
dfle['Type of Breach'] = le.fit_transform(dfle['Type of Breach'])
dfle

<ipython-input-213-19d633b19fe0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfle['Covered Entity Type'] = le.fit_transform(dfle['Covered Entity Type'])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int', 'str']

In [190]:
dfle['Covered Entity Type'].value_counts()

3    1172
0     273
1     206
4      42
2       4
Name: Covered Entity Type, dtype: int64

In [168]:
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score

In [160]:
categorical_var = np.where(X.dtypes != np.float)[0]

In [163]:
print('\nCategorical Variables indices : ',categorical_var)

Categorical Variables indices :  [0 1 2 3]

In [164]:
model = CatBoostClassifier(iterations=50)

In [165]:
model.fit(X,y,cat_features = categorical_var,plot=False)

Learning rate set to 0.201397
0:	learn: 0.5248342	total: 128ms	remaining: 6.26s
1:	learn: 0.4107488	total: 136ms	remaining: 3.27s
2:	learn: 0.3282155	total: 140ms	remaining: 2.2s
3:	learn: 0.2684791	total: 143ms	remaining: 1.64s
4:	learn: 0.2213600	total: 145ms	remaining: 1.3s
5:	learn: 0.1860076	total: 148ms	remaining: 1.09s
6:	learn: 0.1576349	total: 151ms	remaining: 925ms
7:	learn: 0.1353384	total: 154ms	remaining: 809ms
8:	learn: 0.1182968	total: 158ms	remaining: 720ms
9:	learn: 0.1041390	total: 163ms	remaining: 653ms
10:	learn: 0.0925165	total: 170ms	remaining: 603ms
11:	learn: 0.0831679	total: 173ms	remaining: 546ms
12:	learn: 0.0761974	total: 176ms	remaining: 500ms
13:	learn: 0.0695298	total: 180ms	remaining: 463ms
14:	learn: 0.0649270	total: 183ms	remaining: 427ms
15:	learn: 0.0608164	total: 186ms	remaining: 396ms
16:	learn: 0.0568322	total: 189ms	remaining: 368ms
17:	learn: 0.0533529	total: 193ms	remaining: 343ms
18:	learn: 0.0513389	total: 197ms	remaining: 321ms
19:	learn: 0.0491588	total: 200ms	remaining: 301ms
20:	learn: 0.0471005	total: 204ms	remaining: 281ms
21:	learn: 0.0454269	total: 207ms	remaining: 263ms
22:	learn: 0.0441580	total: 210ms	remaining: 246ms
23:	learn: 0.0431075	total: 213ms	remaining: 231ms
24:	learn: 0.0420664	total: 216ms	remaining: 216ms
25:	learn: 0.0415932	total: 218ms	remaining: 201ms
26:	learn: 0.0408121	total: 221ms	remaining: 188ms
27:	learn: 0.0400045	total: 224ms	remaining: 176ms
28:	learn: 0.0394880	total: 227ms	remaining: 164ms
29:	learn: 0.0389718	total: 230ms	remaining: 153ms
30:	learn: 0.0384869	total: 233ms	remaining: 143ms
31:	learn: 0.0382691	total: 236ms	remaining: 133ms
32:	learn: 0.0377363	total: 239ms	remaining: 123ms
33:	learn: 0.0372971	total: 242ms	remaining: 114ms
34:	learn: 0.0369197	total: 245ms	remaining: 105ms
35:	learn: 0.0365222	total: 248ms	remaining: 96.5ms
36:	learn: 0.0363281	total: 251ms	remaining: 88.1ms
37:	learn: 0.0362331	total: 254ms	remaining: 80.1ms
38:	learn: 0.0361526	total: 256ms	remaining: 72.3ms
39:	learn: 0.0359089	total: 259ms	remaining: 64.7ms
40:	learn: 0.0356382	total: 262ms	remaining: 57.5ms
41:	learn: 0.0348878	total: 265ms	remaining: 50.4ms
42:	learn: 0.0345504	total: 267ms	remaining: 43.5ms
43:	learn: 0.0342442	total: 270ms	remaining: 36.8ms
44:	learn: 0.0341427	total: 273ms	remaining: 30.3ms
45:	learn: 0.0336550	total: 276ms	remaining: 24ms
46:	learn: 0.0333866	total: 279ms	remaining: 17.8ms
47:	learn: 0.0332175	total: 281ms	remaining: 11.7ms
48:	learn: 0.0329742	total: 284ms	remaining: 5.8ms
49:	learn: 0.0327507	total: 287ms	remaining: 0us

In [166]:
predict_train = model.predict(X)
print('\nTarget on train data',predict_train)

Target on train data ['No' 'Yes' 'No' ... 'No' 'No' 'No']

In [169]:
accuracy_train = accuracy_score(y,predict_train)
print('\naccuracy_score on train dataset : ', accuracy_train)

accuracy_score on train dataset :  0.9935179728933412

In [170]:
predict_test = model.predict(X)
print('\nTarget on test data',predict_test)

Target on test data ['No' 'Yes' 'No' ... 'No' 'No' 'No']

In [172]:
accuracy_test = accuracy_score(y,predict_test)
print('\naccuracy_score on test dataset : ', accuracy_test)

accuracy_score on test dataset :  0.9935179728933412